/* Resetando estilos padrões */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos do Corpo */
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: #333;
  background: linear-gradient(135deg, #dedede, #050c4a);
}

header {
  background-color: #003366;
  color: white;
  padding: 1rem;
  text-align: center;
}

#home {
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
}

.banner img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

/* Estilos para a seção de produtos */
#produtos {
  padding: 2rem;
}

.produtos-lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.produto {
  background-color: white;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 30%;
  text-align: center;
  transition: transform 0.3s ease;
  max-width: 350px;
}

.produto img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.produto:hover {
  transform: translateY(-10px);
}

.produto h3 {
  font-size: 1.5rem;
  margin: 10px 0;
  color: #003366;
}

.produto p {
  color: #555;
  font-size: 1rem;
}

/* Estilos para a seção Empresas */
#empresas {
  padding: 2rem;
  background-color: #f4f4f4;
  text-align: center;
}

#empresas h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.empresa-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px 50px; /* AUMENTADO o espaçamento entre logos */
  margin-top: 2rem;
}

.empresa {
  max-width: 180px;
  text-align: center;
  transition: transform 0.3s ease;
}

.empresa img {
  width: 100%;
  height: 90px;
  object-fit: contain;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}

.empresa:hover img {
  transform: scale(1.39);
}

.empresa p {
  font-size: 1rem;
  color: #333;
  font-weight: bold;
  margin-top: 5px;
}

/* Header */
header .logo h1 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
}

nav ul li a:hover {
  color: #ff9900;
}

section {
  padding: 2rem;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-family: 'Montserrat', sans-serif;
}

/* Efeito de fade-in */
.fade-in {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.fade-in.visible {
  opacity: 1;
}

.servicos-lista,
.produtos-lista {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

/* Estilo do botão de envio */
#whatsapp-link {
  display: inline-block;
  background-color: #25d366;
  color: white;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
  display: block;
}

#whatsapp-link button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  width: 100%;
}

#whatsapp-link:hover {
  background-color: #128C7E;
  transition: background-color 0.3s ease;
}

#contato {
  padding: 2rem;
  margin-bottom: 80px;
  font-weight: bold;
  color: #56ef87;
}

.servico,
.produto {
  background-color: white;
  padding: 1rem;
  border: 1px solid #ddd;
  flex: 1;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.servico:hover,
.produto:hover {
  transform: scale(1.10);
}

form input,
form textarea {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

form button {
  background-color: #003366;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #ff9900;
}

footer {
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Responsividade */
@media (max-width: 768px) {
  .servicos-lista,
  .produtos-lista {
    flex-direction: column;
    align-items: center;
  }

  .servico,
  .produto {
    width: 90%;
    margin-bottom: 20px;
  }

  .empresa-container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .empresa {
    max-width: 140px;
  }
}


